<div class = "container">
    <div class = "row">
        <h4 class = "logo">Listr</h4>
    </div>
    <div class = "row">
        <div class = "col center">
            <div class = "signin-form">
                <div class = "row">
                    <h5>Sign Up</h5>
                </div>
                <div class = "row">
                    <div class = "row">
                        <input class = "signin-input" type = "text" name = "firstName" id = "firstName" placeholder = "First Name" [(ngModel)] = "firstNameInput" />
                    </div>
                    <div class = "row">
                        <input class = "signin-input" type = "text" name = "lastName" id = "lastName" placeholder = "Last Name" [(ngModel)] = "lastNameInput" />
                    </div>
                    <div class = "row">
                        <input class = "signin-input" type = "text" name = "email" id = "email" placeholder = "Email" [(ngModel)] = "emailInput" />
                    </div>
                    <div class = "row">
                        <input class = "signin-input" type = "password" name = "password" id = "password" placeholder = "Password" [(ngModel)] = "passwordInput" />
                    </div>
                    <div class = "row">
                        <button class = "btn btn-primary signin-input" name = "signup-button" id = "signup-button" (click) = "signup()">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class = "row" *ngIf="signupSuccess" id = "signup-success-message">
                Signup Succeeded
            </div>
            <div class = "row" *ngIf="signupFailure" id = "signup-failure-message">
                Signup Failed
            </div>
        </div>
    </div>
</div>